[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=anush_av
Group=anush_av
WorkingDirectory=/home/anush_av/Documents/Python/appfolder/src
Environment="PATH=/home/anush_av/Documents/Python/appfolder/venv/bin" 
# source activate
EnvironmentFile=/home/anush_av/.env
ExecStart=/home/anush_av/Documents/Python/appfolder/src/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target