{% extends "blog/base.html" %}
{% block title %} New post {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    
    <div class="content-section">
    
        {% if s %}
        <h1> You searched for: {{ s }}</h1>
        <br/>
       <h2>  Results: </h2>
        {% for venue in venues %}
         <h2>  <a  class="article-title" href= "{% url 'post-detail' venue.id %}">  {{ venue }} </a> </h2> <br/> <hr>
  
        {% endfor %}
    {% else %}
        <h1> Empty search venue</h1>
    {% endif %}
     

    </div>
{% endblock content %}